.title {
    font-size: 2rem;
    color: #333;
    text-align: center;
    font-family: monospace;
}

.productName {
    font-size: 2rem;
    color: #333;
    text-align: center;
    font-family: monospace;
}